Catalog{
	display: block;
	width:700px;
	height:950px;
	margin:0 auto;
	background-color:#56433D;
	padding:5px;
}
h1{
	text-align: center;
	font:26px Tahoma;
	color:#F9C941
}
Book{
	display: block;
	border:1px solid;
	width:600px;
	margin:15px auto;
	background-color:#F9C941;
	padding:13px;
}
name{
	font:19px Tahoma;
	display: block;
	color:black;
	text-align: center;
}
genre{
	font:17px Tahoma;
	display: block;
	color: black;
}
count{
	font:17px Tahoma;
	display: block;
	color: black;
}
cost{
	font:17px Tahoma;
	display: block;
	font-weight: bold;
	color: black;
}
